body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* overflow-x: hidden; */
  background: #d0d0d0;
  font-size: 18px;
}

#gradientLU {
  background: linear-gradient(to top left, #003366 0%, #336699 100%);
}

#gradientRU {
  background: linear-gradient(to top right, #003366 0%, #336699 100%);
}

#gradientLB {
  background: linear-gradient(to bottom left, #003366 0%, #336699 100%);
}

#gradientRB {
  background: linear-gradient(to bottom right, #003366 0%, #336699 100%);
}

#gradient1A {
  background: linear-gradient(to top left, #0099cc 0%, #003366 100%);
}

#gradient1B {
  background: linear-gradient(to top right, #0099cc 0%, #003366 100%);
}

#gradient1C {
  background: linear-gradient(to bottom left, #0099cc 0%, #003366 100%);
}

#gradient1D {
  background: linear-gradient(to bottom right, #0099cc 0%, #003366 100%);
}

#gradient2A {
  background: linear-gradient(to bottom, #003366 0%, #669999 100%);
}

#gradient2B {
  background: linear-gradient(to top, #003366 0%, #669999 100%);
}

#darkBackground {
  background: #313131;
}

#whiteBg {
  background: #d0d0d0;
}

/* =================================================================================== ANIMATION FOR IMG ZOOM EFFECT*/
.zoom {
  overflow: hidden;
  margin: 0 auto;
}

.zoom img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.zoom:hover img {
  transform: scale(1.15);
}

/* end test */
/* =================================================================================== FOR MENU */
#menu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #313131;
}

#menu a {
  font-size: 20px;
  font-weight: bold;
  color: lightskyblue;
  transition: 0.2s all ease-in-out
}

#menu a:hover {
  transform: scale(1.05);
  color: #d0d0d0;
}

#menu a.active {
  /* transition: all 0.5s; */
  color: #d0d0d0;
}

.dropdown {
  position: relative; 
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#dropItem.active {
  background-color: #1b1b1b;
}

#dropItem:focus {
  background-color: #1b1b1b;
}

#menu button {
  font-size: 18px;
  font-weight: bold;
}
/* =========================================================== END FOR MENU */
#textHeadHome {
  color: #414141;
  font-weight: bold;
  background-color: lightskyblue;
}

#titleServicesCard {
  color: #414141;
  background-color: lightskyblue;
}

#title {
  color: dodgerblue;
}

#titleOp1 {
  /* color oficial invisalign
  color: #009ace; */
  color: aqua;
}

#titleOp2 {
  color: #e2bd59;
}

#textHome {
  font-size: 20px;
  color: #414141;
}

/* largo max q ocupara el carousel */
.carousel-inner {
  max-height: 40rem;
}

#footer {
  background: lightskyblue;
  min-height: 100px;
}

.foto img {
  border-radius: 50%;
}

#cardServices {
  margin-top: 20px;
  border-radius: 5px;
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  /* opacity: 0;
  transition: .5s; */
}

#mapaImg {
  box-shadow: 1px 3px 3px 1px rgba(3, 32, 51, .8);
}

/* ================================================================================================ scrolling page */
#containerFrecuency>section {
  /*1vh = 1% de la altura del viewport
  100vh = altura del viewport
  1vw = 1% del ancho del viewport
  100vw = ancho del viewport*/
  /* border-bottom: 1px solid white; */
  padding-bottom: 1rem;
  height: 100vh;
}

#containerItero>section {
  height: 100vh;
}

/***************************************************************************************************||  RESPONSIVE CONFIG FOR SCREENS   ||***/
/* PANTALLAS MENORES A 576PX =========================== CELULARES*/
@media (max-width:576px) {
  #reviews {
    width: 95% !important;
  }

  img.picture {
    width: 80% !important;
    margin-left: 10%;
  }

  .imgMaxHeight {
    /* width: 90% !important; */
    margin-left: 5%;
    max-height: 20rem !important;
    max-width: 90% !important;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
  }

  .imgMaxHeight2 {
    margin-left: 2.5%;
    max-height: 25rem !important;
    max-width: 94% !important;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
  }

  div#containerFrecuency,
  div#containerItero {
    width: 96% !important;
  }

  #containerItero>section {
    height: 75vh;
  }

  .imgMaxHeight {
    max-height: 200px !important;
  }
}

/* DISPOSITIVOS MENORES A 768PX */
@media (max-width:768px) {
  #textHome {
    width: 90% !important;
  }

  #servicesHome {
    width: 100% !important;
    text-align: center;
  }

  #wrapper {
    width: 70%;
    padding-top: 20px;
    margin-left: 20%;
  }
}

/* @media screen and (min-width:769px) and (max-width:992px) seria una opcion para segmentar mas los devices*/
/* DISPOSITIVOS MENORES A 992PX */
@media screen and (max-width:992px) {
  #menu #navBarContainer {
    justify-content: end !important;
  }

  #hideOnDesktop {
    display: none;
  }

  div#hideOnDevice {
    display: none !important;
  }

  p#responsiveText {
    font-size: 20px !important;
  }

  #responsiveText>li {
    font-size: 18px !important;
  }

  div.orderLast {
    order: 2 !important;
  }
}

/* PANTALLA DE ESCRITORIO */
@media (min-width:993px) {
  p#responsiveText {
    font-size: 26px;
  }

  #responsiveText>li {
    font-size: 24px;
  }

  .imgMaxHeight {
    max-height: 45rem !important;
    /* display: inline !important; */
  }
}

/* PANTALLA DE ESCRITORIO HD */
@media (min-width:1024px) {

  div#containerItero {
    width: 90% !important;
  }

  p#responsiveText {
    font-size: 26px !important;
  }
}

@media (min-width:1439px) {

  div#containerItero {
    width: 90% !important;
  }

  p#responsiveText {
    font-size: 32px !important;
  }
}

/* PANTALLAS MAYORES A 769PX */
@media screen and (min-width:769px) {
  #local {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .wrapper {
    padding-top: 70px;
  }
}