@import url('http://fonts.cdnfonts.com/css/gill-sans');

* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
  background: #d0d0d0;
  font-size: 18px;
}

/* #carouselControls{
  overflow-y: hidden;
} */

.gradient0A {
  background: linear-gradient(to top left, #003366 0%, #336699 100%);
}

.gradient0B {
  background: linear-gradient(to bottom left, #003366 0%, #336699 100%);
}

.gradient3A {
  background: linear-gradient(to top right, #003366 0%, #336699 100%);
}

.gradient3B {
  background: linear-gradient(to bottom right, #003366 0%, #336699 100%);
}

#gradient1A {
  background: linear-gradient(to top left, #0099cc 0%, #003366 100%);
}

#gradient1B {
  background: linear-gradient(to top right, #0099cc 0%, #003366 100%);
}

#gradient1C {
  background: linear-gradient(to bottom left, #0099cc 0%, #003366 100%);
}

#gradient1D {
  background: linear-gradient(to bottom right, #0099cc 0%, #003366 100%);
}

#gradient2A {
  background: linear-gradient(to bottom, #003366 0%, #669999 100%);
}

#gradient2B {
  background: linear-gradient(to top, #003366 0%, #669999 100%);
}

.bgDark {
  background: #313131;
}

#darkBackground {
  background: #313131;
}

#whiteBg {
  background: #d0d0d0;
}

/* end test */
/* =================================================================================== FOR MENU */
#menu {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #313131;
}

#menu a {
  font-size: 20px;
  font-weight: bold;
  color: lightskyblue;
  transition: 0.2s all ease-in-out
}

#menu a:hover {
  transform: scale(1.05);
  color: #d0d0d0;
}

#menu a.active {
  /* transition: all 0.5s; */
  color: #d0d0d0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#dropItem.active {
  background-color: #1b1b1b;
}

#dropItem:focus {
  background-color: #1b1b1b;
}

#menu button {
  font-size: 18px;
  font-weight: bold;
}

/* =========================================================== END FOR MENU */
#textHeadHome {
  color: #414141;
  font-weight: bold;
  background-color: lightskyblue;
}

.titleServicesCard {
  color: #414141;
  background-color: lightskyblue;
}

.titleColor1 {
  color: dodgerblue;
}

.titleColor2 {
  color: aqua;
}

.titleColor3 {
  color: #e2bd59;
}

#footer {
  background: lightskyblue;
  min-height: 100px;
}

.roundedImg {
  border-radius: 50%;
}

.cardServices {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

#maps>iframe {
  height: 480px !important;
  box-shadow: 1px 3px 3px 1px rgba(3, 32, 51, .8);
}

/* ================================================================================================ CSS FOR PATIENTS' GALLERY */
.patients {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* contenedor */
.container-patients {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;

  /* Grid */
  display: grid;
  /* una columna de fraccion  25/75*/
  grid-template-columns: 1fr 3fr;
  /* separacion interna entre elementos */
  gap: 10px;
}

.container-patients2 {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;

  /* Grid */
  display: grid;
  /* una columna de la fraccion y otra igual (50%) */
  grid-template-columns: 3fr 1fr;
  /* separacion interne entre elementos */
  gap: 10px;
}

.titulo {
  font-size: 24px;
  padding: 20px 0;
}

/* .contenedor-conciertos { */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-position: center center;
}

.card .textos {
  height: 100%;
}

.banner {
  border-radius: 10px;
  /* text-align: center; */
  /* padding: 10px; */
  background-size: cover;
  background-position: center center;

  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}

/* ================================================================================================ END ==== PATIENTS' GALLERY */

/* ================================================================================================ scrolling page */
#containerFrecuency>section {
  /*1vh = 1% de la altura del viewport
  100vh = altura del viewport
  1vw = 1% del ancho del viewport
  100vw = ancho del viewport*/
  /* border-bottom: 1px solid white; */
  padding-bottom: 1rem;
  height: 100vh;
}

#containerInvisalign>section,
#containerItero>section {
  height: 100vh;
}

.pMid {
  font-size: 30px;
}

.pLong {
  font-size: 26px;
}

.imgMaxHeight {
  max-height: 45rem;
}

.imgLarge {
  max-height: 100%;
  max-width: 100%;
}

.pShort {
  font-size: 1.7em;
  text-align: start !important;
  padding: 20px;

}

.titleHead-clinic {
  font-size: 2.3em;
}

.conVideo {
  width: 720px;
  height: 480px;
  float: center;
  position: relative;
  overflow: hidden;
}

.conVideo>iFrame {
  width: 100%;
  height: 100%;
  position: absolute;
}

.profileImgReview {
  width: 25%;
}

.container-invisalign,
.container-about {
  overflow-x: hidden;
}

.container-about>div>.contSectionType>div>span {
  font-size: 2.5vw;
}

.container-invisalign>div>.contSectionType>div>span {
  font-size: 2.2vw;
}
.container-invisalign>div>.contSectionType>.zoom {
  align-self: center !important;
}

/***************************************************************************************************||  RESPONSIVE CONFIG FOR SCREENS   ||***/



/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

  .text-itero {
    font-size: 34px;
  }

  .pMid {
    font-size: 22px;
  }

  .pLong {
    font-size: 18px;
  }

  .titleHead-clinic {
    font-size: 1.8em;
  }

  .imgHead-clinic {
    width: 90px !important;
  }

  /* oldssssssssssssssssssssssssssssssssss */
  p#responsiveText {
    font-size: 26px;
  }

  #responsiveText>li {
    font-size: 24px;
  }

  p#responsiveText2 {
    font-size: 24px !important;
  }

  div#containerItero {
    width: 90% !important;
  }

  p#responsiveText {
    font-size: 32px !important;
  }

  p#responsiveText2 {
    font-size: 28px !important;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .imgResponsiveLong {
    max-width: 80%;
  }

  .titleHead-clinic {
    font-size: 1.2em;
  }

  .text-itero {
    font-size: 28px;
  }

  /* oldssssssssssssssssssssssssssssssssss */
  .imgHead-itero {
    width: 100px !important;
  }


  div#containerItero {
    width: 90% !important;
  }

  /* // Large devices (desktops, less than 1200px) */
  .review {
    width: 75% !important;
  }

  .profileImgReview {
    width: 25% !important;
  }

  p#responsiveText {
    font-size: 26px;
  }

  #responsiveText>li {
    font-size: 24px;
  }

  p#responsiveText2 {
    font-size: 24px !important;
  }

  .imgMaxHeight {
    max-height: 45rem !important;
    /* display: inline !important; */
  }

  p#responsiveText {
    font-size: 26px !important;
  }

  .imgResponsive {
    width: 85%;
  }
}

/******************************************************** Medium devices (tablets, less than 992px) ***********************************************/
@media (max-width: 991.98px) {

  .contSectionType>div {
    flex-direction: row;
  }

  .imgResponsive {
    width: 75%;
  }

  .servicesHome {
    flex-direction: column !important;
    gap: 0.5rem !important;
  }

  .imgCarousel {
    height: 360px !important;
  }

  .review {
    width: 75% !important;
  }

  .imgLarge {
    height: 25rem;
    max-width: 75%;
    border-radius: 10%;
  }

  .imgShort {
    height: 15rem;
    max-width: 90%;
    border-radius: 10%;
  }

  .imgMaxHeight {
    height: 20rem !important;
    margin-left: 5%;
    max-width: 90% !important;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
  }

  .conTextHome {
    width: 92% !important;
    text-align: center;
  }

  .conTextHome>p {
    width: 100% !important;
  }

  /* oldssssssssssssssssssssssssssssssssss */
  #menu #navBarContainer {
    justify-content: end !important;
  }

  #hideOnDesktop {
    display: none;
  }

  div#hideOnDevice {
    display: none !important;
  }

  p#responsiveText {
    font-size: 20px !important;
  }

  /* // Medium devices (tablets, less than 992px) */

  #responsiveText>li {
    font-size: 18px !important;
  }

  p#responsiveText2 {
    font-size: 18px !important;
  }

  div#containerItero {
    width: 96% !important;
  }
}

/******************************************** Small devices (landscape phones, less than 768px) **********************************************/
@media (max-width: 767.98px) {

  .orderLast {
    order: 2 !important;
  }

  .contSectionType {
    flex-direction: column;
    width: 90%;
  }

  .contSectionType>div>span {
    font-size: 5vw;
  }

  .imgResponsive {
    border-radius: 10%;
  }


  .review {
    width: 94% !important;
  }

  .profileImgReview {
    width: 50% !important;
    height: 70% !important;
  }

  .cardReview {
    flex-direction: column !important;
  }

  .cardReview>.content {
    height: fit-content !important;
  }

  .conVideo {
    width: 480px;
    height: 320px;
  }

  .imgShort {
    height: 15rem;
    width: 50% !important;
    border-radius: 10%;
  }

  .maps {
    flex-direction: column !important;
  }

  .maps>div {
    margin-top: 10px;
  }

  /* oldssssssssssssssssssssssssssssssssss */

  .imgMaxHeight2 {
    max-height: 30rem !important;
    max-width: 35rem;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
  }

  /* // Small devices (landscape phones, less than 768px) */

  #menu #navBarContainer {
    justify-content: end !important;
  }

  #hideOnDesktop {
    display: none;
  }

  div#hideOnDevice {
    display: none !important;
  }

  p#responsiveText {
    font-size: 20px !important;
  }

  #responsiveText>li {
    font-size: 18px !important;
  }

  p#responsiveText2 {
    font-size: 18px !important;
  }

  div#containerFrecuency {
    width: 90% !important;
  }

  /* // Small devices (landscape phones, less than 768px) */

  div#containerInvisalign,
  div#containerItero {
    width: 94% !important;
  }

  #containerInvisalign>section {
    max-height: 100vh;
  }

  #servicesHome {
    width: 100% !important;
    text-align: center;
  }

}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  .text-itero {
    font-size: 20px;
  }

  .pMid {
    font-size: 18px;
  }

  .pLong {
    font-size: 16px;
  }

  .imgLarge {
    height: 20rem;
    max-width: 75%;
    border-radius: 10%;
  }

  .review {
    width: 96% !important;
  }


  /* oldssssssssssssssssssssssssssssssssss */
  .profileImgReview {
    height: 55% !important;
  }

  .imgMaxHeight2 {
    margin-left: 2.5%;
    max-height: 25rem !important;
    max-width: 94% !important;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
  }

  /* // X-Small devices (portrait phones, less than 576px) */

  div#containerFrecuency {
    width: 94% !important;
    margin-inline-start: 2rem;
  }

  div#containerInvisalign,
  div#containerItero {
    width: 90% !important;
  }

  #containerInvisalign>section {
    max-height: 100vh;
  }

  .carousel-inner {
    height: 20em !important;
    /* width: auto; */
  }

  #servicesHome {
    width: 100% !important;
    text-align: center;
  }

  .maps>iframe {
    height: 250px !important;
  }
}

/* ==================================================just for > lap screen====================== ANIMATION FOR IMG ZOOM EFFECT*/
@media screen and (min-width:1024px) {
  .zoom {
    overflow: hidden;
    margin: 0 auto;
  }

  .zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
  }

  .zoom:hover img {
    transform: scale(1.15);
  }

  .container-invisalign > div {
    height: 100vh;
  }
}







/* DISPOSITIVOS MENORES A 768PX */
/* @media screen and (max-width:768px) {} */

/* @media screen and (min-width:769px) and (max-width:992px) seria una opcion para segmentar mas los devices*/
/* DISPOSITIVOS MENORES A 992PX */
/* @media screen and (max-width:992px) {} */

/* PANTALLA DE ESCRITORIO */
/* @media (min-width:993px) {} */

/* PANTALLA DE ESCRITORIO HD */
/* @media (min-width:1024px) {} */

/* @media (min-width:1439px) {} */

/* PANTALLAS MAYORES A 769PX */
/* @media screen and (min-width:769px) {} */