body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* overflow-x: hidden; */
  background: #d0d0d0;
  font-size: 18px;
}
/*hace referencia al 'a' dentro 'li' del contenedor o div con el id menu
#menu li > a{
  font-size: 18px;
  font-weight: bold;
  color:aqua;
}*/
#menu{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #313131;
}

#menu a{
  font-size: 18px;
  font-weight: bold;
  color:lightskyblue;
}

#menu a:hover{
  font-size: 18px;
  font-weight: bold;
  color:#d0d0d0;
}

#menu a.active{
  font-size: 18px;
  font-weight: normal;
  color:#d0d0d0;
}

#dropItem.active{
  background-color: #1b1b1b;
}

#dropItem:focus{
  background-color: #1b1b1b;
}

#menu button{
  font-size: 18px;
  font-weight: bold;
}

#textHeadHome{
  color:#414141;
  font-weight:bold ;
  background-color: lightskyblue;
}

#titleServicesCard{
  color:#414141;
  background-color: lightskyblue;
}

#title{
  color:dodgerblue;
}

#textHome{
  font-size: 20px;
  color:#414141;
}

/* largo max q ocupara el carousel */
.carousel-inner {
  max-height: 40rem;
}

#footer {
  background: lightskyblue;
  min-height: 100px;
}

/* div.picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
} */
/* img.picture */
.foto img {
    /* border-collapse: collapse; */
    border-radius: 50%;
}

#cardServices {
  margin-top: 20px;
  border-radius: 5px;
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  /* opacity: 0;
  transition: .5s; */
}

/* #cardServices:hover #content {
  opacity: 1;
} */
#mapaImg {
  box-shadow: 1px 3px 3px 1px rgba(3, 32, 51, .8);
}
/* PANTALLAS MENORES A 576PX */
@media (max-width:576px) {
  #reviews {
    width: 95% !important;
  } 
  img.picture{
    width: 80% !important;
    margin-left: 10%;
  }
  
}
/* DISPOSITIVOS MENORES A 768PX */
@media (max-width:768px) {
  #textHome {
    width: 90% !important;
  }

  #hideOnDevice {
    display: none;
  }

  #servicesHome {
    width: 100% !important;
    text-align: center;
  }

  /* #mapaImg {
 
  } */
  #wrapper {
    width: 70%;
    padding-top: 20px;
     margin-left: 20%;
  }
  /* #reviews {
    width: 75% !important;
  }  */
}

@media (max-width:992px) {
  #menu #navBarContainer {
    justify-content: end !important;
  }

  #hideOnDesktop {
    display: none;
  }
}

/* PANTALLAS MAYORES A 769PX */
@media (min-width:769px) {
  #local {
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .wrapper {
    padding-top: 70px;
  }
}
